<%- include("header.ejs") %>

    <section class="blog-container">
        <div class="blog-card" id="first-card">
            <img src="./images/3d30df668113fae13d1a381f2ac56a87.jpg" height="35%" width="35%"
                style="border-radius: 50%;">
            <div class="content" id="first-text">
                <h4>HI MY NAME IS HARSH</h4>
                <p style="font-size: smaller;">18 / developer</p>
            </div>
        </div>

        <% for (let index=0; index < blogs.length; index++) { %>
            <% const element=blogs[index]; %>

                <div class="blog-card">
                    <% if (element.img) {%>
                        <div class="blog-image">
                            <img style="padding-top: 0px;" src=<%="data:image/png;base64," + element.img%> >
                        </div>
                        <%} %>

                            <div class="content">
                                <p style="white-space: pre-wrap;">
                                    <%= element.content %>
                                </p>
                            </div>
                            <div class="date">
                                <div>
                                    <%= element.date %>
                                        <%= element.month %>
                                </div>
                                <div class="options">
                                    <a href="/updateblog?id=<%= element.id %>">
                                        <svg class="btn" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="#00000" class="bi bi-pencil" viewBox="0 0 16 16">
                                            <path
                                                d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325" />
                                        </svg>
                                    </a>

                                    <a href="/deleteblog?id=<%= element.id %>">
                                        <svg class="btn" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="#00000" class="bi bi-x-lg" viewBox="0 0 16 16">
                                            <path
                                                d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z" />
                                        </svg>
                                    </a>
                                </div>
                            </div>
                </div>
                <% } %>

                    <div class="page-changer">
                        <div class="last">
                            <% if(curr> 1){ %>
                                <a href="/?pg=<%= curr - 1 %>">
                                    <svg class="btn" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                        class="bi bi-chevron-left" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd"
                                            d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0" />
                                    </svg>
                                </a>
                                <% } %>
                        </div>
                        <div class="curr">
                            <%= curr %>
                        </div>
                        <div class="next">
                            <% if(curr < max){ %>
                                <a href="/?pg=<%= curr + 1 %>">
                                    <svg class="btn" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                        class="bi bi-chevron-right" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd"
                                            d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708" />
                                    </svg>
                                </a>
                                <% } %>
                        </div>
                    </div>
    </section>